{% extends 'base.html' %}
{% load static %}

{% block maincontent %}
<!-- Hero Section Start -->
<div class="container-fluid py-5 bg-dark hero-header">
    <div class="container my-5 py-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="display-3 text-white animated slideInDown">Rate Calculator</h2>
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End -->

<!-- Calculator Card Start -->
<div class="container-fluid py-5 position-relative">
    <div class="container rate-calculator-container">
        <div class="row justify-content-center">
            <div class="rate-calculator-card">
                <h3 class="rate-calculator-title">Calculate Your Rate</h3>
                <form id="rateCalculatorForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="rate-calculator-input">
                                <label for="selectCard" class="form-label">Select Card</label>
                                <select class="form-select" id="selectCard">
                                    <option value="">Choose a card...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rate-calculator-input">
                                <label for="selectCurrency" class="form-label">Select Currency</label>
                                <select class="form-select" id="selectCurrency" disabled>
                                    <option value="" selected>Choose a currency...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="rate-calculator-input">
                                <label for="selectCardType" class="form-label">Select Card Type</label>
                                <select class="form-select" id="selectCardType" disabled>
                                    <option value="" selected>Choose a card type...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rate-calculator-input">
                                <label for="selectDenomination" class="form-label">Select Denomination</label>
                                <select class="form-select" id="selectDenomination" disabled>
                                    <option value="" selected>Choose a denomination...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="rate-calculator-input">
                                <label for="enterAmount" class="form-label">Enter Amount ($)</label>
                                <input type="number" class="form-control" id="enterAmount" placeholder="Enter amount">
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="rate-calculator-button">Calculate Rate</button>
                    </div>
                </form>
                <div class="text-center mt-5" id="calculationResult">
                </div>
                <div class="text-center mt-3" id="rateDisclaimer" style="display: none;">
                    <p class="text-muted"><small>*Rate is subject to change, please <a href="{% url 'support' %}">contact customer service</a> for latest rates. Thank you for your patronage.</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Calculator Card End -->
{% endblock %}

{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const selectCard = document.getElementById('selectCard');
            const selectCurrency = document.getElementById('selectCurrency');
            const selectCardType = document.getElementById('selectCardType');
            const selectDenomination = document.getElementById('selectDenomination');
            const enterAmount = document.getElementById('enterAmount');
            const calculationResult = document.getElementById('calculationResult');
            const rateDisclaimer = document.getElementById('rateDisclaimer');

            // Fetch gift cards and populate the dropdown
            fetch("/api/get-gift-cards/")
            .then(response => response.json())
            .then(data => {
                selectCard.innerHTML = '<option value="">Choose a card...</option>';
                data.forEach(card => {
                    const option = document.createElement("option");
                    option.value = card.id;
                    option.textContent = card.name;
                    selectCard.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching gift cards:', error));
        
            // Fetch currencies and card types when a card is selected
            selectCard.addEventListener('change', function () {
                const giftcardId = this.value;
                if (!giftcardId) return;
        
                fetch(`/api/get-currencies/?giftcard_id=${giftcardId}`)
                    .then(response => response.json())
                    .then(data => {
                        selectCurrency.innerHTML = '<option value="">Choose a currency...</option>';
                        data.forEach(currency => {
                            selectCurrency.innerHTML += `<option value="${currency.currency_name}">${currency.currency_name}</option>`;
                        });
                        selectCurrency.disabled = false;
                    });
        
                fetch(`/api/get-card-types/?giftcard_id=${giftcardId}`)
                    .then(response => response.json())
                    .then(data => {
                        selectCardType.innerHTML = '<option value="">Choose a card type...</option>';
                        data.forEach(type => {
                            selectCardType.innerHTML += `<option value="${type.type}">${type.type}</option>`;
                        });
                        selectCardType.disabled = false;
                    });
            });
        
            // Fetch denominations when a card type is selected
            selectCardType.addEventListener('change', function () {
                const giftcardId = selectCard.value;
                if (!giftcardId || !this.value) return;
        
                fetch(`/api/get-denominations/?giftcard_id=${giftcardId}`)
                    .then(response => response.json())
                    .then(data => {
                        selectDenomination.innerHTML = '<option value="">Choose a denomination...</option>';
                        data.forEach(denomination => {
                            selectDenomination.innerHTML += `<option value="${denomination.value}">${denomination.value}</option>`;
                        });
                        selectDenomination.disabled = false;
                    });
            });
        
            // Form submission to calculate the rate
            document.getElementById('rateCalculatorForm').addEventListener('submit', function (e) {
                e.preventDefault();
        
                const giftcardName = selectCard.options[selectCard.selectedIndex].text;
                const currencyCode = selectCurrency.value;
                const cardType = selectCardType.value;
                const denominationValue = selectDenomination.value;
                const amount = parseFloat(enterAmount.value);
        
                if (!giftcardName || !currencyCode || !cardType || !denominationValue || isNaN(amount)) {
                    calculationResult.innerHTML = '<p class="text-danger">Please fill all fields correctly.</p>';
                    return;
                }
        
                fetch(`/api/get-g-rate/?giftcard=${giftcardName}&currency=${currencyCode}&type=${cardType}&denomination=${denominationValue}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            calculationResult.innerHTML = `<p class="text-danger">${data.error}</p>`;
                            rateDisclaimer.style.display = 'none';
                        } else {
                            const totalAmount = amount * data.rate;
                            const formattedAmount = totalAmount.toLocaleString('en-NG', {
                                style: 'currency',
                                currency: 'NGN',
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });
                            calculationResult.innerHTML = `
                                <h4 class="display-4">${formattedAmount}</h4>
                            `;
                            rateDisclaimer.style.display = 'block';
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        calculationResult.innerHTML = '<p class="text-danger">An error occurred while calculating the rate.</p>';
                        rateDisclaimer.style.display = 'none';
                    });
            });
        });        
    </script>
{% endblock %}
