{% extends 'base.html' %}
{% load static %}

{% block maincontent %}
<!-- Navbar & Hero Start -->

<div class="py-2 bg-dark hero-header service-hero mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-9 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft mt-4">Trade Gift Cards Fast & Easy</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">The Best App to Sell Gift Cards is Now Fully Available to You. Also, Pay Bills on Time and With Zero Stress.</p>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">        
        <div class="row g-4">
            <!-- First row of services (unchanged) -->
            <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4 text-center">
                        <i class="fa fa-3x fa-gift text-primary my-5"></i>
                        <h5>Gift Cards</h5>
                        <p>Enjoy the highest rates in Nigeria on all Gift Cards you sell to us on Owodex.</p>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4 text-center">
                        <i class="fa fa-3x fa-file-invoice text-primary my-5"></i>
                        <h5>Bills Payment</h5>
                        <p>Pay Cable TV Subscription, Top-up Airtime, Buy Data Subscription, and others bills.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4 text-center">
                        <i class="fa fa-3x fa-calculator text-primary my-5"></i>
                        <h5>Rate Calculator</h5>
                        <p>Calculate exchange rates instantly for gift cards and cryptocurrencies.</p>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="row g-4 mt-5">
            <!-- Second row of services (updated) -->
            <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4 text-center">
                        <i class="fa fa-3x fa-wallet text-primary my-5"></i>
                        <h5>Top up</h5>
                        <p>Easily add funds to your account for seamless transactions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4 text-center">
                        <i class="fa fa-3x fa-user-plus text-primary my-5"></i>
                        <h5>Refer & Earn</h5>
                        <p>Invite friends and earn rewards for successful referrals.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

{% endblock %}