{% extends 'base.html' %}
{% load static %}

{% block title %}Trade Gift Cards in Nigeria - Owodex{% endblock %}

{% block meta_description %}Owodex is the best app to trade gift cards in Nigeria. Enjoy best rates and quick payment.{% endblock %}

{% block og_title %}Trade Gift Cards in Nigeria - Owodex{% endblock %}

{% block og_description %}Owodex is the best app to trade gift cards in Nigeria. Enjoy best rates and quick payment.{% endblock %}



{% block maincontent %}
<!-- Navbar & Hero Start -->

<div class="container-fluid py-5 bg-dark hero-header">
    <div class="container my-5 py-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-9 text-center">
                <h1 class="display-4 text-white animated slideInLeft mt-4">Trade Gift Cards in Nigeria</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Owodex is the best app to trade gift cards in Nigeria. Enjoy best rates and quick payment. Also, pay bills on time and with zero Stress.</p>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">        
        <div class="row g-4">
            <!-- First row of services (unchanged) -->
            <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4 text-center">
                        <i class="fa fa-3x fa-gift text-primary my-5"></i>
                        <h5>Gift Cards</h5>
                        <p>Trade gift cards in Nigeria while you enjoy the highest rates you'll ever find anywhere, only on Owodex.</p>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4 text-center">
                        <i class="fa fa-3x fa-file-invoice text-primary my-5"></i>
                        <h5>Bills Payment</h5>
                        <p>Pay Cable TV Subscription, Top-up Airtime, Buy Data Subscription, and others bills.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4 text-center">
                        <i class="fa fa-3x fa-calculator text-primary my-5"></i>
                        <h5>Rate Calculator</h5>
                        <p>Calculate exchange rates instantly for your gift cards at the current market rate.</p>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="row g-4 mt-5">
            <!-- Second row of services (updated) -->
            <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4 text-center">
                        <i class="fa fa-3x fa-wallet text-primary my-5"></i>
                        <h5>Top up</h5>
                        <p>Easily add funds to your account for seamless transactions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4 text-center">
                        <i class="fa fa-3x fa-user-plus text-primary my-5"></i>
                        <h5>Refer & Earn</h5>
                        <p>Invite friends and earn rewards on the best app to trade gift cards in Nigeria.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

{% endblock %}